@model IEnumerable<Vidly.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Customers</h2>
<p>@Html.ActionLink("Add Customer", "AddCustomer", "Customer",null, new { @class="btn btn-primary"})</p>
@if (!Model.Any())
{ 
    <p>We don't have customers yet</p>
}

else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Customers</th>
                <th>Membership Type</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model)
            {
                <tr>
                    <td>@Html.ActionLink(customer.Name, "Edit", "Customer", new { id = customer.Id }, null)</td>
                    <td>@customer.membershipType.Name</td>
                </tr>
            }
        </tbody>
    </table>
}
